* {
	margin:  0;
	padding:  0;
	box-sizing: 0;
}

main {
	width:  100%;
	min-height: 100vh;
	display: flex;
	justify-content:  center;
	align-items:  center;
	background-color:  #1A226B;
	font-family:  sans-serif;
}

.form {
	border:  1px solid #FFFFFF;
	border-radius: 16px;
	width: 300px;
	height: 421px;
	padding: 12px 52px 20px;
	height:  fit-content;
	display: flex;
	flex-direction: column;
	background-color:  #FFFFFF;
}

.form__title {
	font-size: 28px;
	color: #787878;
	font-weight: bold;
	text-align:  center;
}

.form__input {
	display: flex;
	flex-direction: column;
	padding: 2px 0 4px 0;
}

.form__input-label {
	display:  block;
	font-size: 12px;
	color: #787878;
	font-weight: bold;
	padding: 4px 0 2px 4px;
}

.form__input-field {
	border: 1px solid #787878;
	border-radius: 4px;
	padding: 4px;
	font-size: 16px;
	color: #787878;
	font-weight: bold;
}

.form__input-field:focus {
	outline:  none;
	border-color: #1A226B;
}

.form__input-field::placeholder {
	color: #CCCCCC;
}

.form__checkbox {
	position:  relative;
	width:  fit-content;
	display:  flex;
	padding:  4px 0 12px 0;
}

.form__checkbox-input {
	position:  absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
}

.form__checkbox-mark {
 	width: 12px;
 	height: 12px;
 	border: 1px solid #787878;
 	border-radius: 4px;
 	line-height: 12px;
}

.form__checkbox > input:checked + .form__checkbox-mark::after {
	content: "✓";
	color: #1A226B;
	font-size: 10px;
	font-weight: 900;
	padding-left: 2px;
	position:  absolute;
}

.form__checkbox-label {
	font-size: 10px;
	color: #787878;
	padding: 2px 0 0 4px;
}

.form__button {
	display: block
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #1A226B;
	padding: 8px 24px;
	border: none;
	border-radius: 8px;
	width:  fit-content;
	margin:  0 auto;
	cursor:  pointer;
	transition: 0.2s opacity;
}

.form__button:hover {
	opacity: 0.9;
}

.form__button:focus {
	outline: none;
	border: 1px solid violet;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
	main {
		width:  100%;
		height: 100%;
	}
	.form {
		max-width: 30%;
		min-width: 30%;
		max-height: 421px;
		padding: 1% 3% 2%;
	}
	.form__title {
	font-size: 4vw;
	}

	.form__input-label {
		font-size: 2vw;
		padding: 2% 0 1% 2%;
	}

	.form__input-field {
		padding: 2%;
		font-size: 2vw;
	}

	.form__checkbox-label {
	font-size: 1.2vw;
	padding: 1% 0 0 2%;
	}

	.form__button {
		font-size: 2vw;
		padding: 4% 8%;
	}
}

@media screen and (max-width: 1440) and (min-width: 769) {
	.form {
		width: 600px;
		height: 421px;
	}
}